{
  "plugins": [
    "transform-react-remove-prop-types",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-flow-strip-types",
    ["typecheck", {
      "disable": {
        "production": true
      }
    }]
  ],
  "presets": ["es2015", "stage-0"]
}